vrrp_instance VI_K8S_API {
    state {{ k_mode }}
    interface enp1s0
    virtual_router_id 10
    priority {{ k_priority }}

    authentication {
        auth_type PASS
        auth_pass {{ k_pass }}
    }

    virtual_ipaddress {
        {{ k8s_api_loadbalancer_ip }}/18
    }

    track_script {
        chk_haproxy
    }
}

