---
- name: Install longhorn deps
  ansible.builtin.dnf5:
    name: nfs-utils, iscsi-initiator-utils
    state: latest

- name: iscsi tcp module
  community.general.modprobe:
    name: iscsi_tcp
    persistent: present
    state: present

- name: enable iscsid
  ansible.builtin.systemd_service:
    name: iscsid
    enabled: true
    state: started

- name: Add longhorn repository
  kubernetes.core.helm_repository:
    name: longhorn
    repo_url: https://charts.longhorn.io/
    kubeconfig: /etc/kubernetes/admin.conf
  run_once: true

- name: get cluster info
  kubernetes.core.k8s_cluster_info:
    kubeconfig: /etc/kubernetes/admin.conf
  register: api_status
  run_once: true

- name: install longhorn
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    kubeconfig: /etc/kubernetes/admin.conf
    namespace: longhorn-system
    create_namespace: true
  run_once: true
  when: "'longhorn.io/v1beta2' not in api_status['apis']"
