---
- name: Add longhorn repository
  kubernetes.core.helm_repository:
    name: longhorn
    repo_url: https://charts.longhorn.io/

- name: install longhorn
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    namespace: longhorn-system
    create_namespace: true

- name: get crd info
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: servicemonitors.monitoring.coreos.com
  register: crd_info
  ignore_errors: true

- name: service monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: longhorn-prometheus-servicemonitor
        namespace: monitoring
        labels:
          name: longhorn-prometheus-servicemonitor
      spec:
        selector:
          matchLabels:
            app: longhorn-manager
        namespaceSelector:
          matchNames:
            - longhorn-system
        endpoints:
          - port: manager
  when: "crd_info['resources'] | length > 0"

- name: grafana dashboard
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        labels:
          grafana_dashboard: "1"
        name: longhorn-dashboard-cm
        namespace: longhorn-system
      data:
        longhorn-dashbord.json: "{{ lookup('file', 'longhorn-dashboard.json') }}"
  when: "crd_info['resources'] | length > 0"
