---
- name: Add longhorn repository
  kubernetes.core.helm_repository:
    name: longhorn
    repo_url: https://charts.longhorn.io/

- name: get cluster info
  kubernetes.core.k8s_cluster_info:
  register: api_status

- name: install longhorn
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    namespace: longhorn-system
    create_namespace: true
  when: "'longhorn.io/v1beta2' not in api_status['apis']"
