---
- name: Add pihole repository
  kubernetes.core.helm_repository:
    name: mojo2600
    repo_url: https://mojo2600.github.io/pihole-kubernetes/

- name: install piehole
  kubernetes.core.helm:
    name: pihole
    chart_ref: mojo2600/pihole
    namespace: pihole
    create_namespace: true
    update_repo_cache: true
    values:
      DNS1: 8.8.8.8
      DNS2: 1.1.1.1
      persistentVolumeClaim:
        enabled: true
        storageClass: "longhorn"
      dualStack:
        enabled: true
      admin:
        existingSecret: "pihole-admin"
      serviceDns:
        mixedService: true
        loadBalancerIP: "{{ pihole_loadbalancer_ipv4 }}"
        loadBalancerIPv6: "{{ pihole_loadbalancer_ipv6 }}"
        type: LoadBalancer
      serviceDhcp:
        enabled: false
      podDnsConfig:
        enabled: true
        policy: "None"
        nameservers:
          - 127.0.0.1
          - 8.8.8.8
      extraEnvVars:
        FTLCONF_dns_listeningMode: "all"
        DNSMASQ_USER: "root"

- name: get secret presence
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: pihole
    name: pihole-admin
  register: secret_presence

- name: add pihole secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: pihole-admin
        namespace: pihole
      data:
        password: "{{ pihole_password | ansible.builtin.b64encode }}"
  when: "not secret_presence['resources']"

- name: pihole certificate
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: pihole-certificate
        namespace: pihole
      spec:
        dnsNames:
          - "pihole.{{ dns_domain_name }}"
        secretName: pihole-certificate
        issuerRef:
          name: letsencrypt-dns01-issuer
          kind: ClusterIssuer

- name: pihole gateway
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: Gateway
      metadata:
        name: pihole-gateway
        namespace: pihole
      spec:
        gatewayClassName: istio
        listeners:
          - name: http
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: Same
            tls:
              certificateRefs:
                - kind: Secret
                  group: ""
                  name: pihole-certificate

- name: pihole httproute
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: pihole-route
        namespace: pihole
      spec:
        parentRefs:
          - name: pihole-gateway
        hostnames:
          - "pihole.{{ dns_domain_name }}"
        rules:
          - backendRefs:
              - name: pihole-web
                port: 80
