---
- name: Add metallb repository
  kubernetes.core.helm_repository:
    name: metallb
    repo_url: https://metallb.github.io/metallb

- name: create metallb namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: metallb-system
        labels:
          pod-security.kubernetes.io/enforce: privileged
          pod-security.kubernetes.io/audit: privileged
          pod-security.kubernetes.io/warn: privileged

- name: install metallb
  kubernetes.core.helm:
    name: metallb
    chart_ref: metallb/metallb
    namespace: metallb-system

- name: Wait for metallb to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: metallb-system
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_sleep: 15
    wait_timeout: 600

- name: add metallb address pool
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: default-pool
        namespace: metallb-system
      spec:
        addresses:
          - "{{ k8s_svc_loadbalancer_ipv4 }}"
          - "{{ k8s_svc_loadbalancer_ipv6 }}"

- name: add metallb advertisment
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: default-pool-advertisement
        namespace: metallb-system
      spec:
        ipAddressPools:
          - default-pool
