---
- name: keepalived k8s api config files
  vars:
    k_mode: "{{ 'MASTER' if k8s_primary_vip is defined else 'SECONDARY' }}"
    k_priority: "{{ '100' if k8s_primary_vip is defined else '90' }}"
    k_pass: "{{ lookup('community.general.random_string', length=12, special=false) }}"
  ansible.builtin.template:
    src: keepalive_k8s_api.conf.j2
    dest: /etc/keepalived/conf.d/keepalive_k8s_api.conf
    owner: root
    group: root
    mode: 0644
    force: false
- name: restart keepalived
  ansible.builtin.systemd_service:
    name: keepalived
    enabled: true
    state: reloaded
