---
- name: external-dns namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: external-dns
        labels:
          name: external-dns

- name: external-dns clusterrole
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: external-dns
        namespace: external-dns
      rules:
        - apiGroups:
            - "*"
          resources:
            - "*"
          verbs:
            - get
            - watch
            - list

- name: external-dns serviceaccount
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: external-dns
        namespace: external-dns

- name: external-dns cluster role binding
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: external-dns-viewer
        namespace: external-dns
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: external-dns
      subjects:
        - kind: ServiceAccount
          name: external-dns
          namespace: external-dns

- name: external-dns
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: external-dns
        namespace: external-dns
      spec:
        selector:
          matchLabels:
            app: external-dns
        template:
          metadata:
            labels:
              app: external-dns
          spec:
            serviceAccountName: external-dns
            containers:
              - name: external-dns
                image: registry.k8s.io/external-dns/external-dns:v0.20.0
                env:
                  - name: EXT_DNS_SECRET
                    valueFrom:
                      secretKeyRef:
                        name: external-dns
                        key: secret
                args:
                  - --registry=txt
                  - --txt-prefix=external-dns-
                  - --txt-owner-id=k8s
                  - --provider=rfc2136
                  - "--rfc2136-host={{ dns_primary_ip }}"
                  - --rfc2136-port=53
                  - "--rfc2136-zone={{ dns_domain_name }}"
                  - --rfc2136-tsig-secret=$(EXT_DNS_SECRET)
                  - --rfc2136-tsig-secret-alg=hmac-sha256
                  - --rfc2136-tsig-keyname=zone_update.key
                  - --rfc2136-tsig-axfr
                  - --source=service
                  - --source=gateway-httproute
                  - --source=gateway-grpcroute
                  - --source=gateway-tlsroute
                  - --source=gateway-tcproute
                  - --source=gateway-udproute
                  - --log-level=info

- name: get secret presence
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: external-dns
    name: external-dns
  register: secret_presence

- name: add dns key secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: external-dns
        namespace: external-dns
      data:
        secret: "{{ dns_key | ansible.builtin.b64encode }}"
  when: "not secret_presence['resources']"
