{% for host in groups['dns_servers'] %}
newServer({address="{{ hostvars[host]['ansible_default_ipv4']['address'] }}", checkName="{{ k8s_api_name }}", checkInterval=60})
{% endfor %}

setServerPolicy(roundrobin)

addLocal("{{ dns_loadbalancer_ip }}:53")

controlSocket("127.0.0.1:5199")
