---
- name: Add metrics-server repository
  kubernetes.core.helm_repository:
    name: metrics-server
    repo_url: https://kubernetes-sigs.github.io/metrics-server/

- name: get deployment info
  kubernetes.core.k8s_info:
    kind: Deployment
    namespace: kube-system
    name: metrics-server
  register: dep_status

- name: install metrics-server
  kubernetes.core.helm:
    name: metrics-server
    chart_ref: metrics-server/metrics-server
    namespace: kube-system
    set_values:
      - value: "args='{--kubelet-insecure-tls}'"
  when: "not dep_status['resources']"
