---
- name: add nfs csi driver helm repo
  kubernetes.core.helm_repository:
    name: csi-driver-nfs
    repo_url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts

- name: install nfs csi driver
  kubernetes.core.helm:
    name: csi-driver-nfs
    chart_ref: csi-driver-nfs/csi-driver-nfs
    namespace: kube-system
    values:
      runOnControlPlane: true

- name: disk nfs storage class
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: nfs-disk-csi
      provisioner: nfs.csi.k8s.io
      parameters:
        server: "{{ nfs_server_hostname }}"
        share: "{{ nfs_shares['disk'] }}"
      volumeBindingMode: Immediate
      allowVolumeExpansion: true

- name: ssd nfs storage class
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: nfs-ssd-csi
      provisioner: nfs.csi.k8s.io
      parameters:
        server: "{{ nfs_server_hostname }}"
        share: "{{ nfs_shares['ssd'] }}"
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
