---
- name: Install bind dns server
  ansible.builtin.dnf5:
    name: bind
    state: latest

- name: Copy primary dns configuration file
  ansible.builtin.template:
    src: named-primary.conf.j2
    dest: /etc/named.conf
    owner: root
    group: root
    mode: 0644
  when: "'dns_primary' in group_names"

- name: Copy zone file
  ansible.builtin.template:
    src: named.zone.j2
    dest: "/var/named/{{ dns_domain_name }}.zone"
    owner: named
    group: named
    mode: 0644
    force: false
  when: "'dns_primary' in group_names"

- name: Create update key
  vars:
    key_file: /var/named/zone_update.key
  ansible.builtin.shell:
    cmd: "tsig-keygen -a hmac-sha256 zone_update.key > {{ key_file }}"
    creates: "{{ key_file }}"
  when: "'dns_primary' in group_names"

- name: Copy secondary dns configuration file
  ansible.builtin.template:
    src: named-secondary.conf.j2
    dest: /etc/named.conf
    owner: root
    group: root
    mode: 0644
  when: "'dns_primary' not in group_names"

- name: Start named service
  ansible.builtin.systemd_service:
    name: named
    enabled: true
    state: started
