---
- name: Add istio repository
  kubernetes.core.helm_repository:
    name: istio
    repo_url: https://istio-release.storage.googleapis.com/charts

- name: get cluster info
  kubernetes.core.k8s_cluster_info:
  register: api_status

- name: install standard gateway api
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('file', 'gateway-api-standard-install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible

- name: install exp gateway api
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('file', 'gateway-api-experimental-install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible

- name: install istio base
  kubernetes.core.helm:
    name: istio-base
    chart_ref: istio/base
    namespace: istio-system
    create_namespace: true
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: install istio istiod
  kubernetes.core.helm:
    name: istiod
    chart_ref: istio/istiod
    namespace: istio-system
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: install istio cni
  kubernetes.core.helm:
    name: istio-cni
    chart_ref: istio/cni
    namespace: istio-system
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: install istio ztunnel
  kubernetes.core.helm:
    name: ztunnel
    chart_ref: istio/ztunnel
    namespace: istio-system
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"
