---
- name: Add istio repository
  kubernetes.core.helm_repository:
    name: istio
    repo_url: https://istio-release.storage.googleapis.com/charts
    kubeconfig: /etc/kubernetes/admin.conf
  run_once: true

- name: get cluster info
  kubernetes.core.k8s_cluster_info:
    kubeconfig: /etc/kubernetes/admin.conf
  register: api_status
  run_once: true

- name: install standard gateway api
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition: "{{ lookup('file', 'gateway-api-standard-install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible
  run_once: true
  when: "'gateway.networking.k8s.io/v1' not in api_status['apis']"

- name: install exp gateway api
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition: "{{ lookup('file', 'gateway-api-experimental-install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible
  run_once: true
  when: "'gateway.networking.k8s.io/v1' not in api_status['apis']"

- name: install istio base
  kubernetes.core.helm:
    kubeconfig: /etc/kubernetes/admin.conf
    name: istio-base
    chart_ref: istio/base
    namespace: istio-system
    create_namespace: true
  run_once: true
  when: "'networking.istio.io/v1' not in api_status['apis']"

- name: get deployment info
  kubernetes.core.k8s_info:
    kubeconfig: /etc/kubernetes/admin.conf
    kind: Deployment
    namespace: istio-system
    name: istiod
  register: dep_status
  run_once: true

- name: install istio istiod
  kubernetes.core.helm:
    kubeconfig: /etc/kubernetes/admin.conf
    name: istiod
    chart_ref: istio/istiod
    namespace: istio-system
    set_values:
      - value: "profile=ambient"
  run_once: true
  when: "not dep_status['resources']"

- name: get deployment info
  kubernetes.core.k8s_info:
    kubeconfig: /etc/kubernetes/admin.conf
    kind: DaemonSet
    namespace: istio-system
    name: istio-cni
  register: ds_status
  run_once: true

- name: install istio cni
  kubernetes.core.helm:
    kubeconfig: /etc/kubernetes/admin.conf
    name: istio-cni
    chart_ref: istio/cni
    namespace: istio-system
    set_values:
      - value: "profile=ambient"
  run_once: true
  when: "not ds_status['resources']"

- name: get deployment info
  kubernetes.core.k8s_info:
    kubeconfig: /etc/kubernetes/admin.conf
    kind: DaemonSet
    namespace: istio-system
    name: ztunnel
  register: ds_status
  run_once: true

- name: install istio ztunnel
  kubernetes.core.helm:
    kubeconfig: /etc/kubernetes/admin.conf
    name: ztunnel
    chart_ref: istio/ztunnel
    namespace: istio-system
  run_once: true
  when: "not ds_status['resources']"
