---
- name: Add istio repository
  kubernetes.core.helm_repository:
    name: istio
    repo_url: https://istio-release.storage.googleapis.com/charts

- name: get cluster info
  kubernetes.core.k8s_cluster_info:
  register: api_status

- name: install standard gateway api
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('file', 'gateway-api-standard-install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible

- name: install exp gateway api
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('file', 'gateway-api-experimental-install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible

- name: install istio base
  kubernetes.core.helm:
    name: istio-base
    chart_ref: istio/base
    namespace: istio-system
    create_namespace: true
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: install istio istiod
  kubernetes.core.helm:
    name: istiod
    chart_ref: istio/istiod
    namespace: istio-system
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: install istio cni
  kubernetes.core.helm:
    name: istio-cni
    chart_ref: istio/cni
    namespace: istio-system
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: install istio ztunnel
  kubernetes.core.helm:
    name: ztunnel
    chart_ref: istio/ztunnel
    namespace: istio-system
    values:
      profile: ambient
      pilot:
        env:
          PILOT_ENABLE_ALPHA_GATEWAY_API: true
          ISTIO_DUAL_STACK: "true"
        ipFamilyPolicy: RequireDualStack
      meshConfig:
        defaultConfig:
          proxyMetadata:
            ISTIO_DUAL_STACK: "true"

- name: get crd info
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: servicemonitors.monitoring.coreos.com
  register: crd_info
  ignore_errors: true

- name: isto pod monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      metadata:
        name: envoy-stats-monitor
        namespace: monitoring
        labels:
          monitoring: istio-proxies
          release: istio
      spec:
        selector:
          matchExpressions:
            - {key: istio-prometheus-ignore, operator: DoesNotExist}
        namespaceSelector:
          any: true
        jobLabel: envoy-stats
        podMetricsEndpoints:
          - path: /stats/prometheus
            interval: 15s
            relabelings:
              - action: keep
                sourceLabels: [__meta_kubernetes_pod_container_name]
                regex: "istio-proxy"
              - action: keep
                sourceLabels: [__meta_kubernetes_pod_annotationpresent_prometheus_io_scrape]
              - action: replace
                regex: (\d+);(([A-Fa-f0-9]{1,4}::?){1,7}[A-Fa-f0-9]{1,4})
                replacement: '[$2]:$1'
                sourceLabels:
                  - __meta_kubernetes_pod_annotation_prometheus_io_port
                  - __meta_kubernetes_pod_ip
                targetLabel: __address__
              - action: replace
                regex: (\d+);((([0-9]+?)(\.|$)){4})
                replacement: $2:$1
                sourceLabels:
                  - __meta_kubernetes_pod_annotation_prometheus_io_port
                  - __meta_kubernetes_pod_ip
                targetLabel: __address__
              - action: labeldrop
                regex: "__meta_kubernetes_pod_label_(.+)"
              - sourceLabels: [__meta_kubernetes_namespace]
                action: replace
                targetLabel: namespace
              - sourceLabels: [__meta_kubernetes_pod_name]
                action: replace
                targetLabel: pod
  when: "crd_info['resources'] | length > 0"

- name: istio service monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: istio-component-monitor
        namespace: monitoring
        labels:
          monitoring: istio-components
          release: istio
      spec:
        jobLabel: istio
        targetLabels: [app]
        selector:
          matchExpressions:
            - {key: istio, operator: In, values: [pilot]}
        namespaceSelector:
          any: true
        endpoints:
          - port: http-monitoring
            interval: 15s
  when: "crd_info['resources'] | length > 0"

- name: grafana dashboard
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        labels:
          grafana_dashboard: "1"
        name: istio-dashboard-cm
        namespace: istio-system
      data:
        istio-control-plane-dashbord.json: "{{ lookup('file', 'istio-control-plane-dashboard.json') }}"
        istio-performance-dashbord.json: "{{ lookup('file', 'istio-performance-dashboard.json') }}"
        istio-ztunnel-dashbord.json: "{{ lookup('file', 'istio-ztunnel-dashboard.json') }}"
  when: "crd_info['resources'] | length > 0"
