---
- name: Add cilium repository
  kubernetes.core.helm_repository:
    name: cilium
    repo_url: https://helm.cilium.io/

- name: get cluster info
  kubernetes.core.k8s_cluster_info:
  register: api_status

- name: install cilium
  kubernetes.core.helm:
    name: cilium
    chart_ref: cilium/cilium
    namespace: kube-system
    set_values:
      - value: "cni.exclusive=false"
      - value: "ipv4.enabled=true"
      - value: "ipv6.enabled=true"
      - value: "ipam.mode=cluster-pool"
      - value: "ipam.operator.clusterPoolIPv4PodCIDRList={{ k8s_pod_cidr_ipv4 }}"
      - value: "ipam.operator.clusterPoolIPv4MaskSize=24"
      - value: "ipam.operator.clusterPoolIPv6PodCIDRList={{ k8s_pod_cidr_ipv6 }}"
      - value: "ipam.operator.clusterPoolIPv6MaskSize=64"
      - value: "encryption.enabled=true"
      - value: "encryption.type=wireguard"
  when: "'cilium.io/v2' not in api_status['apis']"
