vrrp_instance VI_DNS {
    state {{ k_mode }}
  interface {{ k_interface }}
    virtual_router_id 53
    priority {{ k_priority }}

    virtual_ipaddress {
        {{ dns_loadbalancer_ip }}/18
    }
}
