---
- name: create namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: forgejo

- name: generate password and assign to variable
  ansible.builtin.set_fact:
    database_password: "{{ lookup('community.general.random_string', special=false, length=32) }}"
  no_log: true

- name: get secret presence
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: forgejo
    name: forgejo-pg-user
  register: secret_presence

- name: create secret for pg user
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      data:
        username: Zm9yZ2Vqbw==
        password: "{{ database_password | ansible.builtin.b64encode }}"
      kind: Secret
      metadata:
        name: forgejo-pg-user
        namespace: forgejo
      type: kubernetes.io/basic-auth
  when: "not secret_presence['resources']"

- name: create database
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      metadata:
        name: forgejodb
        namespace: forgejo
      spec:
        instances: 3
        storage:
          size: 2Gi
          storageClass: longhorn
        bootstrap:
          initdb:
            database: forgejo
            owner: forgejo
            secret:
              name: forgejo-pg-user
  when: "not secret_presence['resources']"

- name: install forgejo
  kubernetes.core.helm:
    name: forgejo
    chart_ref: oci://code.forgejo.org/forgejo-helm/forgejo
    namespace: forgejo
    create_namespace: true
    values:
      global:
        storageClass: longhorn
      clusterDomain: "{{ k8s_svc_dns }}"
      securityContext:
        capabilities:
          add: ["SYS_CHROOT"]
      gitea:
        config:
          database:
            DB_TYPE: postgres
            HOST: "forgejodb-rw:5432"
            USER: forgejo
            PASSWD: "{{ database_password }}"
            NAME: forgejo
      persistence:
        size: "{{ forgejo_volume_size }}"
  when: "not secret_presence['resources']"

- name: forgejo certificate
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: forgejo-certificate
        namespace: forgejo
      spec:
        dnsNames:
          - "git.{{ dns_domain_name }}"
        secretName: git-certificate
        issuerRef:
          name: letsencrypt-dns01-issuer
          kind: ClusterIssuer

- name: forgejo gateway
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: Gateway
      metadata:
        name: forgejo-gateway
        namespace: forgejo
      spec:
        gatewayClassName: istio
        listeners:
          - name: http
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: Same
            tls:
              certificateRefs:
                - kind: Secret
                  group: ""
                  name: forgejo-certificate

- name: forgejo tcproute
  kubernetes.core.k8s:
    state: absent
    definition:
      apiVersion: gateway.networking.k8s.io/v1alpha2
      kind: TCPRoute
      metadata:
        name: forgejo-ssh-route
        namespace: forgejo
      spec:
        parentRefs:
          - name: forgejo-gateway
        hostnames:
          - "git.{{ dns_domain_name }}"
        rules:
          - backendRefs:
              - name: forgejo-ssh
                port: 22

- name: forgejo httproute
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: forgejo-http-route
        namespace: forgejo
      spec:
        parentRefs:
          - name: forgejo-gateway
        hostnames:
          - "git.{{ dns_domain_name }}"
        rules:
          - backendRefs:
              - name: forgejo-http
                port: 3000
