---
- name: create namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: argocd

- name: install argocd
  kubernetes.core.k8s:
    state: present
    namespace: argocd
    definition: "{{ lookup('file', 'argocd_install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible

- name: argocd gateway certificate
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: argocd-certificate
        namespace: argocd
      spec:
        dnsNames:
          - "argocd.{{ dns_domain_name }}"
        secretName: argocd-certificate
        issuerRef:
          name: letsencrypt-dns01-issuer
          kind: ClusterIssuer

- name: argocd gateway
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: Gateway
      metadata:
        name: argocd-gateway
        namespace: argocd
      spec:
        gatewayClassName: istio
        listeners:
          - name: http
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: Same
            tls:
              certificateRefs:
                - kind: Secret
                  group: ""
                  name: argocd-certificate

- name: argocd httproute
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: argocd-route
        namespace: argocd
      spec:
        parentRefs:
          - name: argocd-gateway
        hostnames:
          - "argocd.{{ dns_domain_name }}"
        rules:
          - backendRefs:
              - name: argocd-server
                port: 80

- name: get crd info
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: servicemonitors.monitoring.coreos.com
  register: crd_info
  ignore_errors: true

- name: service monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: "{{ item }}-servicemonitor"
        namespace: argocd
        labels:
          name: "{{ item }}-servicemonitor"
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: "{{ item }}"
        endpoints:
          - port: metrics
  loop:
    - argocd-metrics
    - argocd-server-metrics
    - argocd-repo-server
    - argocd-notifications-controller-metrics
    - argocd-dex-server
    - argocd-applicationset-controller
  when: "crd_info['resources'] | length > 0"

- name: grafana dashboard
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        labels:
          grafana_dashboard: "1"
        name: argocd-dashboard-cm
        namespace: argocd
      data:
        argocd-dashboard.json: "{{ lookup('file', 'argocd-dashboard.json') }}"
  when: "crd_info['resources'] | length > 0"
