---
- name: create namespace
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: argocd

- name: install argocd
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    namespace: argocd
    definition: "{{ lookup('file', 'argocd_install.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible
  run_once: true

- name: argocd gateway certificate
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: argocd-certificate
        namespace: argocd
      spec:
        dnsNames:
          - argocd.raft.lutris.house
        secretName: argocd-certificate
        issuerRef:
          name: letsencrypt-dns01-issuer
          kind: ClusterIssuer

- name: argocd gateway
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: Gateway
      metadata:
        name: argocd-gateway
        namespace: argocd
      spec:
        gatewayClassName: istio
        listeners:
          - name: http
            port: 443
            protocol: HTTPS
            allowedRoutes:
              namespaces:
                from: Same
            tls:
              certificateRefs:
                - kind: Secret
                  group: ""
                  name: argocd-certificate

- name: argocd httproute
  kubernetes.core.k8s:
    kubeconfig: /etc/kubernetes/admin.conf
    state: present
    definition:
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      metadata:
        name: argocd-route
        namespace: argocd
      spec:
        parentRefs:
          - name: argocd-gateway
        hostnames:
          - "argocd.raft.lutris.house"
        rules:
          - backendRefs:
              - name: argocd-server
                port: 80
