---
- name: install cert-manager
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('file', 'cert-manager.yaml') | from_yaml_all }}"
    server_side_apply:
      field_manager: ansible

- name: get secret presence
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: cert-manager
    name: tsig-secret
  register: secret_presence

- name: add dns key secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      data:
        tsig-secret-key: "{{ dns_key | ansible.builtin.b64encode }}"
      kind: Secret
      metadata:
        name: tsig-secret
        namespace: cert-manager
  when: "not secret_presence['resources']"

- name: Wait for cert-manager pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: cert-manager
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_sleep: 15
    wait_timeout: 600

- name: add letsencrypt setup for dns server
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-dns01-issuer
        namespace: cert-manager
      spec:
        acme:
          server: "{{ acme_server }}"
          email: "{{ letsencrypt_email }}"
          privateKeySecretRef:
            name: letsencrypt-dns01-api-key
          solvers:
            - dns01:
                rfc2136:
                  nameserver: "{{ dns_primary_ip }}:53"
                  tsigKeyName: zone_update.key
                  tsigAlgorithm: HMACSHA256
                  tsigSecretSecretRef:
                    name: tsig-secret
                    key: tsig-secret-key

- name: get crd info
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: servicemonitors.monitoring.coreos.com
  register: crd_info
  ignore_errors: true

- name: cert-manager service monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: cert-manager-monitor
        namespace: cert-manager
      spec:
        selector:
          matchLabels:
            app: cert-manager
        endpoints:
          - port: tcp-prometheus-servicemonitor
  when: "crd_info['resources'] | length > 0"

- name: cainjector service monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: cainjector-monitor
        namespace: cert-manager
      spec:
        selector:
          matchLabels:
            app: cainjector
        endpoints:
          - port: http-metrics
  when: "crd_info['resources'] | length > 0"

- name: webhook service monitor
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: monitoring.coreos.com/v1
      kind: ServiceMonitor
      metadata:
        name: webhook-monitor
        namespace: cert-manager
      spec:
        selector:
          matchLabels:
            app: webhook
        endpoints:
          - port: metrics
  when: "crd_info['resources'] | length > 0"

- name: grafana dashboard
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        labels:
          grafana_dashboard: "1"
        name: cert-manager-dashboard-cm
        namespace: cert-manager
      data:
        cert-manager-dashboard.json: "{{ lookup('file', 'cert-manager-dashboard.json') }}"
  when: "crd_info['resources'] | length > 0"
