---
- name: get cluster info
  kubernetes.core.k8s_cluster_info:
    kubeconfig: /etc/kubernetes/admin.conf
  register: api_status
  ignore_errors: true

- name: pull images
  ansible.builtin.shell:
    cmd: kubeadm config images pull
  when: api_status['failed'] == true

- name: init cluster
  ansible.builtin.shell:
    cmd: >
      kubeadm init --upload-certs --apiserver-bind-port=6442
      "--control-plane-endpoint={{ k8s_api_name }}:6443"
      "--pod-network-cidr={{ k8s_pod_cidr }}"
      "--service-cidr={{ k8s_svc_cidr }}"
      "--service-dns-domain={{ k8s_svc_dns }}"
  when: api_status['failed'] == true and 'k8s_init_node' in group_names

- name: get cluster key
  ansible.builtin.shell: >
    kubeadm init phase upload-certs --upload-certs |
    tail -n 1 | tr -d '[:space:]'
  register: cluster_key
  when: "'k8s_init_node' in group_names"
  run_once: true
  changed_when: false

- name: get join command
  ansible.builtin.shell: >
    kubeadm token create --print-join-command
  register: cluster_join
  when: "'k8s_init_node' in group_names"
  run_once: true
  changed_when: false

- name: join other control plane nodes
  ansible.builtin.shell: >
    {{ cluster_join.stdout }}
    --apiserver-bind-port 6442 --control-plane --certificate-key
    {{ cluster_key.stdout }}
  when: "'k8s_control_nodes' is in group_names and 'k8s_init_node' not in group_names and api_status['failed'] == true"

- name: Remove control plane node taint
  kubernetes.core.k8s_taint:
    name: "{{ inventory_hostname }}"
    kubeconfig: /etc/kubernetes/admin.conf
    taints:
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
    state: absent

- name: Fix etcd metric endpoint
  ansible.builtin.replace:
    path: /etc/kubernetes/manifests/etcd.yaml
    regexp: '(--listen-metrics-urls)=http.*:(.*)$'
    replace: '\1=http://0.0.0.0:\2'

- name: Fix controller-manager and scheduler metric endpoints
  ansible.builtin.replace:
    path: "/etc/kubernetes/manifests/{{ item }}"
    regexp: '(--bind-address)=.*$'
    replace: '\1=0.0.0.0'
  loop:
    - kube-controller-manager.yaml
    - kube-scheduler.yaml

- name: Wait for all system pods to be ready
  kubernetes.core.k8s_info:
    kubeconfig: /etc/kubernetes/admin.conf
    kind: Pod
    namespace: kube-system
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_sleep: 15
    wait_timeout: 600
  run_once: true

- name: make kube directory
  ansible.builtin.file:
    path: "~/.kube"
    state: directory
    mode: 0750
  become: false
  register: dir_info

- name: copy kubeconfig
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: "{{ dir_info['path'] }}/config"
    mode: 0640
    owner: "{{ dir_info['owner'] }}"
    group: "{{ dir_info['group'] }}"
    remote_src: true

- name: remove lb exclude label from all nodes
  ansible.builtin.shell:
    cmd: kubectl label node --all node.kubernetes.io/exclude-from-external-load-balancers-
  become: false
  run_once: true
